<h2>Edit Historical Landmark</h2>

<form method="post" action="/landmarks/:id">
<input id="hidden" type="hidden" name="_method" value="patch">

Name:
Figure ID:
Year completed:

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
