<table>
  <tr>
    <h1>Name</h1>
  </tr>
  <tr>
    <ul>
      <li><%= @figure.name %></li>
      <li><%= Title.find(FigureTitle.find_by(figure_id: @figure.id).title_id).name %>
    </ul>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<br>
<a class="button" href="/figures">Figures</a>
